#cirlce {
    width: 25px;
    height: 25px;
    border-radius:50%;
    position: absolute;
    left: 17px;
    top: 1px;
}

#cirlce2 {
    width: 25px;
    height: 25px;
    border-radius:50%;
    position: absolute;
    left: 42px;
    top: 1px;
}

img {
    max-height: 150px;
    height: 100%;
    width: auto;
    position: relative;
}

.content-wrapper {
    transform: translate(0,25%);
}