#covertab {
    display: inline;
}

.container {
    max-width: none;
    max-height: none;
}

.cover {
    height: 200px;
    width: 200px;
}

.row {
    max-width: none;
    max-height: none;
    padding: 25px;
}

.col-md-2 {
    max-width: none;
    min-width: 150px;
    position: relative;
}

#random1, #random2, #friends1, #friends2 {
    position: relative;
}

.footer {
  position: relative;
  height: 150px;
  clear:both;
  padding-top:20px;
  bottom: 0;
}

.img-responsive {
    max-width: 200px;
    min-width: 100px;
}
