#close {
    width: 25px;
    height: 25px;
    background-color: red;
    opacity: 0.75;
}

#controls {
    width: 25px;
    color: white;
}

#rating {
    -webkit-appearance: none;
    width: 195px;
    height: 25px;
    overflow: hidden;
}

#rating:focus{
    outline: none;
}

#rating::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 50px;
    box-shadow:
    -300px 0 0 300px rgba(90, 184, 6, 1);
}

#rating::-webkit-slider-runnable-track {
    background-color: black;
}

#review {
    background-color: black;
    border: none;
    color: white;
    font-family: monospace;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.75;
    resize: none;
}

#popup {
    display: none;
    border-radius: 0% 0% 10% 0%;
    background-color: black;
    opacity: 0.75;
    width: 245px;
    height: 150px;
    margin-left:25px;
}

#save_button {
    width: 50px;
    height: 25px;
    display: inline;
}

#rating_review {
    margin-left: 25px;
}