#rate_review {
    display: none;
}

#rating {
    background-color: red;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    width: 250px;
}

#rating2 {
    background-color: black;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 76%;
}
